{minimum_otp_vsn, "21.0"}.

{alias, [
    {check, [
        lint,
        xref,
        dialyzer,
        edoc,
        {eunit, "-c"},
        {ct, "-c"},
        {proper, "-c"},
        {cover, "-v --min_coverage=85"},
        todo
    ]}
]}.

{dialyzer, [{warnings, [unknown]}]}.

{edoc_opts, [
    {app_default, "https://www.erlang.org/doc/man"},
    {image, ""},
    {preprocess, true},
    {title, "robots"}
]}.

{erl_opts, [
    debug_info,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, []}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},

    {test, [
        {erl_opts, [nowarn_export_all]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]},
        {deps, [
            {meck, "0.8.9"},
            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
            {unite, {git, "https://github.com/eproxus/unite.git", {tag, "0.4.0"}}}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_proper, "0.11.1"},
    {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.4.0"}}},
    {rebar3_todo, {git, "https://github.com/ferd/rebar3_todo.git", {branch, "master"}}},
    rebar3_hex,
    coveralls
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_parallel, true}.
{coveralls_service_name, "github"}.

{elvis, [
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, []}.
